# Creacion del DataMart Analítico

## Importación Librerias

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

%config IPCompleter.greedy=True
pd.options.display.float_format = '{:15.2f}'.format

## Carga de datos

In [2]:
import sqlalchemy as sa

In [3]:
con = sa.create_engine("sqlite:///../Datos/ecommerce.db")

In [4]:
from sqlalchemy import inspect

insp = inspect(con)
insp.get_table_names()

['2019-Dec', '2019-Nov', '2019-Oct', '2020-Feb', '2020-Jan']

In [5]:
oct = pd.read_sql('2019-Oct', con)
nov = pd.read_sql('2019-Nov', con)
dic = pd.read_sql('2019-Dec', con)
ene = pd.read_sql('2020-Jan', con)
feb = pd.read_sql('2020-Feb', con)

In [6]:
oct.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,68,2019-10-01 00:01:46 UTC,view,5843665,1487580005092295511,None,f.o.x,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,72,2019-10-01 00:01:55 UTC,cart,5868461,1487580013069861041,None,italwax,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,95,2019-10-01 00:02:50 UTC,view,5877456,1487580006300255120,None,jessnail,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,122,2019-10-01 00:03:41 UTC,view,5649270,1487580013749338323,None,concept,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,124,2019-10-01 00:03:44 UTC,view,18082,1487580005411062629,None,cnd,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5

In [7]:
feb.head()

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,34,2020-02-01 00:01:43 UTC,view,5649305,1487580010335174721,None,concept,6.03,601680868,e896bd6d-804f-4664-9825-7a577116e427
1,36,2020-02-01 00:01:44 UTC,view,5759491,1487580013011140782,None,italwax,1.94,608822417,fe286f43-52f4-4b14-bda9-4accaa2b0a40
2,49,2020-02-01 00:02:51 UTC,view,5937,2196456817758831535,None,runail,5.48,608822554,91d3f050-845d-46f8-82ab-d865105d447d
3,62,2020-02-01 00:04:03 UTC,view,5685387,1487580012172279951,None,farmona,26.32,554962001,eb8923d0-51bf-4d9a-8477-1435e3bb0d08
4,64,2020-02-01 00:04:25 UTC,view,5685361,1487580012096782476,None,farmona,27.00,554962001,eb8923d0-51bf-4d9a-8477-1435e3bb0d08

## Creacion del Datamart Analítico

In [8]:
df = pd.concat([oct, nov, dic, ene, feb], axis=0)
df

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,68,2019-10-01 00:01:46 UTC,view,5843665,1487580005092295511,None,f.o.x,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,72,2019-10-01 00:01:55 UTC,cart,5868461,1487580013069861041,None,italwax,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,95,2019-10-01 00:02:50 UTC,view,5877456,1487580006300255120,None,jessnail,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,122,2019-10-01 00:03:41 UTC,view,5649270,1487580013749338323,None,concept,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,124,2019-10-01 00:03:44 UTC,view,18082,1487580005411062629,None,cnd,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...,...,...,...,...
429785,4156660,2020-02-29 23:58:49 UTC,cart,5815662,1487580006317032337,None,None,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429786,4156663,2020-02-29 23:58:57 UTC,view,5815665,1487580006317032337,None,None,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429787,4156668,2020-02-29 23:59:05 UTC,cart,5815665,1487580006317032337,None,None,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429788,4156675,2020-02-29 23:59:28 UTC,view,5817692,1487580010872045658,None,None,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
429789,4156680,2020-02-29 23:59:54 UTC,view,5716351,1487580010872045658,None,irisk,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d

# Calidad de datos

In [9]:
df.head(5)

,index,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,68,2019-10-01 00:01:46 UTC,view,5843665,1487580005092295511,None,f.o.x,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,72,2019-10-01 00:01:55 UTC,cart,5868461,1487580013069861041,None,italwax,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,95,2019-10-01 00:02:50 UTC,view,5877456,1487580006300255120,None,jessnail,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,122,2019-10-01 00:03:41 UTC,view,5649270,1487580013749338323,None,concept,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,124,2019-10-01 00:03:44 UTC,view,18082,1487580005411062629,None,cnd,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2095076 entries, 0 to 429789
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   index          int64
 1   event_time     object
 2   event_type     object
 3   product_id     int64
 4   category_id    int64
 5   category_code  object
 6   brand          object
 7   price          float64
 8   user_id        int64
 9   user_session   object
dtypes: float64(1), int64(4), object(5)
memory usage: 175.8+ MB

In [11]:
df.drop(columns= "index", inplace =True)

In [12]:
#Función para convertir las fechas a datetime de manera rápida

def datetime_fast(dt, formato): 
    def divide_date(fecha):
        division = fecha.split()
        date= division[0]
        time = division[1]
        cadena = date + " " + time
        return(cadena)
    resultado = pd.to_datetime(dt.apply(lambda x: divide_date(x)), format=formato)
    return (resultado)

In [13]:
df.event_time = datetime_fast(df.event_time, formato="%Y-%m-%d %H:%M:%S")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2095076 entries, 0 to 429789
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     datetime64[ns]
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
 8   user_session   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 159.8+ MB

## Análisis de nulos

In [15]:
df.isna().sum().sort_values(ascending=False)

category_code    2060411
brand             891646
user_session         506
event_time             0
event_type             0
product_id             0
category_id            0
price                  0
user_id                0
dtype: int64

- Eliminamos las variables category_code y brand al no estar bien informadas y no ser relevantes para el análisis. 
- user_sesion la queremos mantener pero no tiene sentido la imputación de los nulos por lo que eliminamos los nulos al ser 500 sobre 2 Millones.

In [16]:
df.drop(["category_code", "brand"],axis=1, inplace=True)

In [17]:
df.dropna(inplace=True)

## Analisis de las variables numéricas

In [18]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
event_time,2094570,2019-12-16 20:35:50.603889920,2019-10-01 00:01:46,2019-11-08 18:35:03.249999872,2019-12-14 07:10:11.500000,2020-01-26 06:45:52.249999872,2020-02-29 23:59:54,NaN
product_id,2094570.00,5487103.56,3752.00,5724652.00,5811665.00,5858353.00,5932595.00,1300923.90
category_id,2094570.00,1553112489392098048.00,1487580004807082752.00,1487580005754995456.00,1487580008246412288.00,1487580013489291520.00,2242903426784559104.00,167907497920779328.00
price,2094570.00,8.42,-47.62,2.05,4.00,6.86,327.78,19.14
user_id,2094570.00,521077545.56,4661182.00,480613387.00,553341613.00,578406571.00,622087993.00,87553855.76

Lo más llamativo es el mínimo del precio que sale en negativo. Es frecuente que salgan en negativo las unidades o el importe total pagado por el cliente, que se entiende como una devolución, pero no en el precio.

In [19]:
df[df.price<=0]

,event_time,event_type,product_id,category_id,price,user_id,user_session
343,2019-10-01 02:15:41,view,5892052,1487580010377117763,0.00,555455025,320f6021-30ac-4a58-ae17-bac1cc32aac3
924,2019-10-01 05:16:30,view,5889621,1487580010561667147,0.00,523988665,00849bd2-fcd2-4cb4-af31-4e264f151848
933,2019-10-01 05:18:03,view,5889622,1487580010561667147,0.00,523988665,80cfe614-f0a5-4101-a2b6-a21227590470
937,2019-10-01 05:18:46,view,5889623,1487580010561667147,0.00,523988665,c2cd0464-3d2b-48e2-9667-bac248fe297a
1077,2019-10-01 05:38:01,view,5889627,1487580010561667147,0.00,523988665,8b2bf9d8-43f0-43b2-bed3-13b2c956cada
...,...,...,...,...,...,...,...
428011,2020-02-29 20:04:49,cart,5824841,1897124478404526487,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428012,2020-02-29 20:04:49,cart,5826413,1487580005511725929,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428013,2020-02-29 20:04:49,cart,5832437,1487580007675986893,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428014,2020-02-29 20:04:49,cart,5851606,2055161088059638328,0.00,469761446,8bf369b4-92c0-4fb8-88a5-8a2dd0947e46
428370,2020-02-29 20:26:16,view,5923106,1487580008246412266,0.00,622047714,74f04dc6-2b3c-4565-beda-f575d73ed81c

Se revisa si los nulos se están dando en unos pocos productos

In [20]:
df[df.price<=0].groupby("product_id").product_id.value_counts().sort_values(ascending=False)

product_id
5896186    79
5903915    50
5873428    37
5851304    29
5851294    29
           ..
5894642     1
5894646     1
5894651     1
5894653     1
5889593     1
Name: count, Length: 7049, dtype: int64

Se decide eliminar estos registros al no tener claro si son devoluciones, y ser solo 20.000 registros sobre los 2 millones

In [21]:
df = df[df.price>0]

In [22]:
df

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...,...
429785,2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429786,2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429787,2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
429788,2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
429789,2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d

## Analisis de las variables categoricas

In [23]:
df.head(5)

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5

In [24]:
df.event_type.unique()

array(['view', 'cart', 'remove_from_cart', 'purchase'], dtype=object)

In [28]:
df.event_type.value_counts(ascending=False)

event_type
view                961558
cart                574547
remove_from_cart    410357
purchase            127564
Name: count, dtype: int64

In [29]:
df.product_id.nunique()

45327

In [30]:
df.category_id.nunique()

508

## Fecha como Indice

In [31]:
df.columns = ["fecha", "evento", "producto", "categoria", "precio", "usuario", "sesion"]

In [32]:
df.set_index("fecha", inplace=True)

In [33]:
df

,evento,producto,categoria,precio,usuario,sesion
fecha,,,,,,
2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...
2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d

# Transformacion y creacion de variables

- Extraer componentes fecha
- Variables de calendario: festivos locales...
- Indicadores exógenos (ofertas competencia, black friday, san valentin...)

In [34]:
def componentes_fecha(df):
    date = df.index.date
    año = df.index.year
    mes = df.index.month
    dia = df.index.day
    hora = df.index.hour
    minuto = df.index.minute
    segundo = df.index.second

    return(pd.DataFrame({"date":date , "año":año, "mes":mes, "dia":dia, "hora":hora, "minuto":minuto, "segundo":segundo}))

In [36]:
df = pd.concat([df.reset_index(), componentes_fecha(df)], axis=1).set_index("fecha")
df

,evento,producto,categoria,precio,usuario,sesion,date,año,mes,dia,hora,minuto,segundo
fecha,,,,,,,,,,,,,
2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361,2019-10-01,2019,10,1,0,1,46
2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1,2019-10-01,2019,10,1,0,1,55
2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770,2019-10-01,2019,10,1,0,2,50
2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df,2019-10-01,2019,10,1,0,3,41
2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5,2019-10-01,2019,10,1,0,3,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-29 23:58:49,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,58,49
2020-02-29 23:58:57,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,58,57
2020-02-29 23:59:05,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90,2020-02-29,2020,2,29,23,59,5
2020-02-29 23:59:28,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,2020-02-29,2020,2,29,23,59,28
2020-02-29 23:59:54,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d,2020-02-29,2020,2,29,23,59,54

## Variables de Calendario: Festivos

In [37]:
import holidays

https://github.com/dr-prodigy/python-holidays

In [38]:
festivo_es = holidays.ES(years=2024)
festivo_es

{datetime.date(2024, 1, 1): 'Año nuevo', datetime.date(2024, 1, 6): 'Epifanía del Señor', datetime.date(2024, 3, 29): 'Viernes Santo', datetime.date(2024, 5, 1): 'Fiesta del Trabajo', datetime.date(2024, 8, 15): 'Asunción de la Virgen', datetime.date(2024, 10, 12): 'Fiesta Nacional de España', datetime.date(2024, 11, 1): 'Todos los Santos', datetime.date(2024, 12, 6): 'Día de la Constitución Española', datetime.date(2024, 12, 25): 'Natividad del Señor'}

In [40]:
for fecha, fiesta in festivo_es.items():
    print(fecha, fiesta)

2024-01-01 Año nuevo
2024-01-06 Epifanía del Señor
2024-03-29 Viernes Santo
2024-05-01 Fiesta del Trabajo
2024-08-15 Asunción de la Virgen
2024-10-12 Fiesta Nacional de España
2024-11-01 Todos los Santos
2024-12-06 Día de la Constitución Española
2024-12-25 Natividad del Señor

In [41]:
#Festivos en Rusia
festivo_ru = holidays.RU(years=2020)
for fecha, fiesta in festivo_ru.items():
    print(fecha,fiesta)

2020-01-01 Новогодние каникулы
2020-01-02 Новогодние каникулы
2020-01-03 Новогодние каникулы
2020-01-04 Новогодние каникулы
2020-01-05 Новогодние каникулы
2020-01-06 Новогодние каникулы
2020-01-08 Новогодние каникулы
2020-01-07 Рождество Христово
2020-02-23 День защитника Отечества
2020-03-08 Международный женский день
2020-05-01 Праздник Весны и Труда
2020-05-09 День Победы
2020-06-12 День России
2020-11-04 День народного единства

In [43]:
#Creacion de la variable festivo
df["festivo"] = df.date.apply(lambda x: 1 if (x in festivo_ru) else 0)

In [44]:
df[df.festivo==1].date.value_counts().sort_index()

date
2019-11-04    16430
2020-01-01     7644
2020-01-02    10776
2020-01-03    10617
2020-01-04    13084
2020-01-05    14554
2020-01-06    10621
2020-01-07    12922
2020-01-08    14004
2020-02-23     9817
Name: count, dtype: int64

In [45]:
df["black_friday"] = 0
df.loc["2019-11-29", "black_friday"]=1

df["san_valentin"] = 0
df.loc["2020-02-14", "san_valentin"] = 1

In [46]:
df.head(8)

,evento,producto,categoria,precio,usuario,sesion,date,año,mes,dia,hora,minuto,segundo,festivo,black_friday,san_valentin
fecha,,,,,,,,,,,,,,,,
2019-10-01 00:01:46,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361,2019-10-01,2019,10,1,0,1,46,0,0,0
2019-10-01 00:01:55,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1,2019-10-01,2019,10,1,0,1,55,0,0,0
2019-10-01 00:02:50,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770,2019-10-01,2019,10,1,0,2,50,0,0,0
2019-10-01 00:03:41,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df,2019-10-01,2019,10,1,0,3,41,0,0,0
2019-10-01 00:03:44,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5,2019-10-01,2019,10,1,0,3,44,0,0,0
2019-10-01 00:04:42,view,5550686,1487580008145748965,1.11,485644718,4afc450a-3459-46db-89c0-84b73aa0fd64,2019-10-01,2019,10,1,0,4,42,0,0,0
2019-10-01 00:06:09,view,5785144,1487580013950664926,11.83,480874420,90e9a50a-2718-42dd-b5e4-a9e3293c2dad,2019-10-01,2019,10,1,0,6,9,0,0,0
2019-10-01 00:06:35,view,5800917,1487580011652186237,28.57,555448260,b81dcb7e-f632-42b5-a71a-f4632fe49b45,2019-10-01,2019,10,1,0,6,35,0,0,0

## Reordenación de columnas

In [47]:
variables = df.columns.to_list()
variables

['evento',
 'producto',
 'categoria',
 'precio',
 'usuario',
 'sesion',
 'date',
 'año',
 'mes',
 'dia',
 'hora',
 'minuto',
 'segundo',
 'festivo',
 'black_friday',
 'san_valentin']

In [48]:
orden = ['usuario','sesion','categoria','evento', 'producto','precio']

In [49]:
resto = [variable for variable in variables if variable not in orden]

In [50]:
df = df[orden + resto]

# Guardamos el Tablón Análitico

In [52]:
df.to_pickle("../Datos/tablon_analitico.pickle")